<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{#each posts}}
            <li class="list-groups-item">
                <div class="lead">{{this.title}}</div>
                    <a href="{{this.url}}" target="_blank">{{this.url}}</a>
            </li>
        {{/each}}
    </div>
</div> 