<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/sign-up">
            <h4>Sign Up</h4>
            <div class="form-group">
                <label for="">Username</label>
                <input type="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="">password</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Create User</button>
            </div>
        </form>
    </div>
</div> 